* {
    border:        none;
    border-radius: 0;
    font-family:   JetBrainsMono NF;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
    margin: 0px;
    padding: 0px;
}

window#waybar {
    background-color: #0f0f15;
    color: #d6d7ba;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button {
    padding:    0 2px;
    color:      #45475a;
    box-shadow: inset 0 -3px transparent;
    background-color: #0f0f15;
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    color: #fab387;
}

#workspaces button.urgent {
    color: #f38b88;
}

#tray, #window, #workspaces, #mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #custom-vpn, #clock, #tray, #custom-media #temperature {
    /* margin:     0px 6px 0px 10px; */
    /* border-right: 10px; */
    /* border-radius: 20px; */
    padding: 0px 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #b4befe;
}

#custom-sep {
  color: #375260;
}
